import {
  applicationPreflightExitCode,
  renderApplicationPreflight,
  runApplicationPreflight,
} from "@aegis/core";

import { applicationProfile } from "../src/config/application-profile.ts";

const result = await runApplicationPreflight(applicationProfile);
console.log(renderApplicationPreflight(result));
process.exitCode = applicationPreflightExitCode(result);
